#Projects {
    width: 100%;
    padding-bottom: 150px;
    position: relative;
}

#Projects .section-content {
    flex-direction: column;
}
/*Mobile*/

@media only screen and (max-width: 768px) and (min-width: 0px) {
    #Projects {
        height: fit-content;
        padding-bottom: 80px;
    }
}

/*Med */

@media only screen and (max-width: 1350px) and (min-width: 769px) {
    #Projects {
        height: fit-content;
        padding-bottom: 80px;
    }
}
