.project {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top:50px;
}

.project:nth-child(odd),
.project:nth-child(odd)>.project-left {
    flex-direction: row-reverse;
}

.project-left,
.project-right {
    z-index: 1;
    width: 48%;
    padding: 50px;
}

.project-left {
    display: flex;
}

.project-right {
    display: flex;
    background-color: var(--bc-2);
}

.project-preview {
    width: 700px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
}

.project-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.project-title {
    font-size: var(--fs-l);
    color: var(--fc-2);
    margin: 0 0 35px 0;
    padding: 0;
}

.project-text {
    font-size: var(--fs-m);
    color: var(--fc-1);
    margin: 0 0 35px 0;
    padding: 0;
}

.project-details hr {
    background-color: var(--fc-2);
    border: 0;
    height: 3px;
    width: 45px;
    margin: 0 0 35px 0;
}

.project-links {
    padding: 10px 0px;
}

.project-links a:first-child {
    margin-right: 30px;
}

.project-links a {
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--fc-3);
    border: 1.5px solid var(--fc-3);
    text-decoration: none;
    font-size: var(--fs-m);
    font-weight: bold;
}

.project-divider {
    height: 100%;
    width: 53vw;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}


/*Mobile*/

@media only screen and (max-width: 768px) and (min-width: 0px) {
    #Projects {
        height: fit-content;
        padding-bottom: 80px;
    }
    .project {
        flex-direction: column;
        margin-top: 40px;
    }
    .project-left,
    .project-right {
        flex: unset;
        margin: 0;
        width: 100%;
    }
    .project-preview {
        width: 100%;
        height: 300px;
    }
    .project-details {
        margin-top: 20px;
    }
    .project-title {
        font-size: var(--fs-m);
        margin: 0 0 20px 0;
    }
    .project-text {
        font-size: var(--fs-s);
        margin: 0 0 20px 0;
    }
    .project-details hr {
        margin: 0 0 20px 0;
    }
    .project-links a {
        font-size: var(--fs-s);
    }
    .project-divider {
        width: 100%;
        bottom: 0;
        left: 0;
        top: unset;
        right: unset;
        height: 50%;
    }
}


/*Med */

@media only screen and (max-width: 1350px) and (min-width: 769px) {
    #Projects {
        height: fit-content;
        padding-bottom: 80px;
    }
    .project {
        flex-direction: column;
        margin-top: 40px;
    }
    .project-left,
    .project-right {
        flex: unset;
        margin: 0;
        width: 100%;
    }
    .project-preview {
        width: 100%;
        max-width: 800px;
        max-height: 500px;
        min-height: 300px;
        height: 51vw;
        margin: 0 auto 20px auto;
    }
    .project-details {
        margin-top: 20px;
    }
    .project-title {
        margin: 0 0 20px 0;
    }
    .project-text {
        font-size: var(--fs-s);
        margin: 0 0 20px 0;
        width: 80%;
    }
    .project-details hr {
        margin: 0 0 20px 0;
    }
    .project-links a {
        font-size: var(--fs-s);
    }
    .project-divider {
        width: 100%;
        bottom: 0;
        left: 0;
        top: unset;
        right: unset;
        height: 50%;
    }
}


/*Med to Large Fixes */

@media only screen and (min-width: 1350px) and (max-width: 1700px) {
    .project-preview {
        max-height: 500px;
        height: 27vw;
        width: 40vw;
    }
    .project-right {
        flex: 1;
    }
    .project-left {
        flex: 1.3;
        margin: 0;
    }
}