footer {
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: var(--bc-2);
    align-items: center;
    justify-content: center;
}

footer h3 {
    color: var(--grey);
    font-weight: normal;
    font-size: var(--fs-s);
}


/*Mobile*/

@media only screen and (max-width: 768px) and (min-width: 0px) {
    footer {
        height: 50px;
    }
    footer h3 {
        font-size: var(--fs-xs);
    }
}