:root {
    /*background colors*/
    --bc-1: #330D64;
    --bc-2: #300B5F;
    --bc-3: #250A4A;
    /*font colors*/
    --fc-1: #FDF8DF;
    --fc-2: #FFE16D;
    --fc-3: #3FB1B1;
    --grey: #8B8B8B;
    /*font sizes*/
    --fs-xxl: 80px;
    --fs-xl: 62px;
    --fs-l: 32px;
    --fs-m: 20px;
    --fs-s: 15px;
    --fs-xs: 13px;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--bc-1);
}